<div class="banner-container" [style.background]="'url(./../assets/images/backgrounds/' + cityArr() + '-background.webp) center / cover no-repeat'">
  <div class="up-center-container">
    <h2 class="banner-h2">{{ isOutbound() ? 'Vuelo de ida' : 'Vuelo de vuelta' }}</h2>
    <p class="banner-p">
      <span class="banner-span departure">{{ cityDep() }}</span>
      <svg class="banner-svg">
        <use [attr.href]="'./../assets/svg/sprite.svg#' + (isOutbound() ? 'departure' : 'arrival')"></use>
      </svg>
      <span class="banner-span arrival">{{ cityArr() }}</span>
    </p>
  </div>
</div>
