<footer id="footer">
  <div class="limit">
    <div class="airline">
      <img ngSrc="../../../../assets/logo/logo-color-text.png" alt="Logo de Ilicitan Airlines" width="175" height="60">
      <div class="download">
        <h4>Descarga la app de Ilicitan</h4>

        <div class="download-buttons">
          <a href="https://appstore.com/" target="_blank" rel="noreferrer noopener">
            <img ngSrc="../../../../assets/images/sources/apps/apple-app.png" alt="AppStore" height="40" width="120"></a>
          <a href="https://play.google.com/store/" target="_blank" rel="noreferrer noopener"><img
            ngSrc="../../../../assets/images/sources/apps/googleplay-app.png" alt="Google Play" height="40" width="135"></a>
          <a href="https://consumer.huawei.com/es/mobileservices/appgallery/" target="_blank" rel="noreferrer noopener"><img
            ngSrc="../../../../assets/images/sources/apps/appgallery-app.png" alt="AppGallery" height="40" width="134"></a>
        </div>
      </div>
    </div>

    <div class="links">
      <ul class="list">
        <li><h4>Destinos Europeos</h4></li>
        <li><a routerLink="/explore">Elche</a></li>
        <li><a routerLink="/explore">Zurich</a></li>
        <li><a routerLink="/explore">Viena</a></li>
        <li><a routerLink="/explore">Praga</a></li>
        <li><a routerLink="/explore">Varsovia</a></li>
      </ul>

      <ul class="list">
        <li><h4>Destinos Asiáticos</h4></li>
        <li><a routerLink="/explore">Singapur</a></li>
        <li><a routerLink="/explore">Hong Kong</a></li>
        <li><a routerLink="/explore">Shenzhen</a></li>
        <li><a routerLink="/explore">Shanghai</a></li>
        <li><a routerLink="/explore">Tokio</a></li>
        <li><a routerLink="/explore">Osaka</a></li>
        <li><a routerLink="/explore">Seúl</a></li>
      </ul>

      <ul class="list">
        <li><h4>Destinos Americanos</h4></li>
        <li><a routerLink="/explore">San Francisco</a></li>
        <li><a routerLink="/explore">Los Ángeles</a></li>
        <li><a routerLink="/explore">Nueva York</a></li>
        <li><a routerLink="/explore">Chicago</a></li>
        <li><a routerLink="/explore">Miami</a></li>
        <li><a routerLink="/explore">Toronto</a></li>
        <li><a routerLink="/explore">Buenos Aires</a></li>
        <li><a routerLink="/explore">Santiago de Chile</a></li>
        <li><a routerLink="/explore">Ciudad de Panamá</a></li>
      </ul>

      <ul class="list">
        <li><h4>Destinos Letales</h4></li>
        <li><a routerLink="/explore">Mumbai</a></li>
        <li><a routerLink="/explore">Islamabad</a></li>
        <li><a routerLink="/explore">Pionyang</a></li>
        <li><a routerLink="/explore">Kabul</a></li>
        <li><a routerLink="/explore">Bagdad</a></li>
        <li><a routerLink="/explore">Katmandú</a></li>
        <li><a routerLink="/explore">Dakar</a></li>
        <li><a routerLink="/explore">Argel</a></li>
      </ul>

      <ul class="list">
        <li><h4>Planea Tu Viaje</h4></li>
        <li><a routerLink="/help">Requisitos de viaje</a></li>
        <li><a routerLink="/help">Visados y permisos</a></li>
        <li><a routerLink="/help">Equipaje</a></li>
        <li><a routerLink="/help">Asistencia especial</a></li>
        <li><a routerLink="/help">Mostradores check-in</a></li>
      </ul>

      <ul class="list">
        <li><h4>Gestionar</h4></li>
        <li><a routerLink="/booking">Cambiar un vuelo</a></li>
        <li><a routerLink="/booking">Cancelar un vuelo</a></li>
        <li><a routerLink="/booking">Equipaje extra</a></li>
        <li><a routerLink="/booking">Check-in online</a></li>
        <li><a routerLink="/booking">Preferencias de comida</a></li>
        <li><a routerLink="/booking">Reserva de asientos</a></li>
      </ul>

      <ul class="list">
        <li><h4>Sobre Nosotros</h4></li>
        <li><a routerLink="/program">Sobre Ilicitan</a></li>
        <li><a routerLink="/program">Trabaja para nosotros</a></li>
        <li><a routerLink="/program">Sostenibilidad</a></li>
        <li><a routerLink="/program">Nuestras oficinas</a></li>
        <li><a routerLink="/program">SkyTeam & SkyTrax</a></li>
        <li><a routerLink="/program">Preguntas frecuentes</a></li>
      </ul>
    </div>
  </div>
</footer>
