#hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: 700px;
  justify-content: center;
  position: relative;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 62, 0.12);
  pointer-events: none;
  z-index: 1;
}

#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #002a15 1%, rgba(0, 0, 0, 0) 99%);
  pointer-events: none;
  z-index: 2;
}

#hero .hero-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 600px;
  margin-left: -460px;
  position: relative;
  z-index: 20;
  margin-top: -100px;
}

#hero .hero-text h1 {
  font-weight: bold;
  font-size: 3.4rem;
  color: white;
  line-height: 4.25rem;
}

#hero .hero-text p {
  color: white;
  font-size: 1.2rem;
}

#hero .hero-text a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #00803e;
  padding: 20px;
  border-radius: 2px;
  transition: background-color 0.3s;
  width: 20.5%;
}

#hero .hero-text a:hover {
  background-color: #026634;
}
